map $TEMPDOC_API_HOST $TEMPDOC_API_HOST {
  default "$TEMPDOC_API_HOST";
}

map $TEMPDOC_GRPC_HOST $TEMPDOC_GRPC_HOST {
  default "$TEMPDOC_GRPC_HOST";
}

map $TEMPDOC_API_PORT $TEMPDOC_API_PORT {
  default "$TEMPDOC_API_PORT";
}

map $TEMPDOC_GRPC_PORT $TEMPDOC_GRPC_PORT {
  default "$TEMPDOC_GRPC_PORT";
}